@model PaginatedList<RegistredUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>
<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-group d-flex">
        <div class="mt-2 p-2">
            <label class="control-label"> Search (name, phone, email) :</label>
        </div>
        <div class="p-2 flex-grow-1">
            <input type="text" class="form-control" name="SearchString" value="@ViewData["CurrentFilter"]" />
        </div>
        <div class="p-2">
            <input type="submit" value="Search" class="btn btn-success" />
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Full Name
            </th>
            <th>
                Title
            </th>
            <th>
                Organization
            </th>
            <th style="min-width: 300px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Organization)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <button class="btn btn-danger" onclick='printUser("@item.FullName","@item.Title","@item.Organization")'>Print Badge</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>

<div class="printable">
    <div class="static-indent">

    </div>
    <div id="FullName">
        FullName
    </div>
    <div id="Title">
        Title
    </div>
    <div id="Organization">
        Organization
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function printUser(FullName, Title, Organization) {
            console.log(FullName);
            $("#FullName").text(FullName);
            $("#Title").text(Title);
            $("#Organization").text(Organization);
            window.print();
        }
    </script>
}
